/* home.html */

.header-DB {
    background-size: cover;
    width: 100%;
    height: 300px; /* Adjust height as needed */
    position: relative;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .header-text h1 {
        font-size: 28px;
        font-family: "Roboto", sans-serif;
        margin: 100px auto;
        font-weight: bold;
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

.overlay {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-container {
    display: flex;
    gap: 300px;
    text-align: center;
    margin-top: 20px;
}

    .button-container button {
        width: 200px;
        height: 70px;
        border-radius: 15px;
        color: #5375e2;
        font-family: "Helvetica", sans-serif;
        font-size: 22px;
        font-weight: bold;
        border: none;
        letter-spacing: 2px;
    }

.button-container button:hover {
    background-color: #f65868;
    cursor: pointer;
    color: #fff;
}

.button-container button.active {
    background-color: #f65868;
    color: #fff;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -10px;
}

.content-container p {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    letter-spacing: 5px;
    font-weight: bolder;
    margin: 10px auto;
    color: #5375E2;
}

.content-container p:hover {
    color: #F65868;
}


.content-container a {
    text-decoration: none;
}

.content {
    width: calc(100% - 20px);
    margin: 60px auto;
    padding: 20px;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.col {
    width: calc(20.33% - 100px);
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

.image-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 300px;
    z-index: -1;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( to bottom, rgba(83, 117, 226, 0.5), rgba(83, 117, 226, 0.5) ); /* Change color and transparency here */
    z-index: 1;
}

img {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 600px) {
    .image-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; /* Make the image fill the width of its container */
        height: 100%; /* Maintain the aspect ratio */
    }

    .rowcp {
        display: flex;
    }

    .row {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .col {
        width: 100%;
        padding: 10px;
        margin: 10px auto;
    }

    .overlay {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .button-container {
        display: flex;
        gap: 30px;
        text-align: center;
        margin-top: 20px;
        margin-left: 10px;
    }

        .button-container button {
            width: 160px;
            height: 70px;
            border-radius: 15px;
            color: #5375e2;
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            font-weight: bold;
            border: none;
            letter-spacing: 2px;
        }

    .header-DB {
        background-size: cover;
        width: 100%;
        height: 300px; /* Adjust height as needed */
    }

    .header-text {
        margin: 4% auto;
        text-align: center;
    }

        .header-text h1 {
            position: relative;
            font-size: 30px;
            font-weight: 800;
            color: #fff;
            text-align: center;
            font-family: "Roboto", sans-serif;
            margin: 50px auto;
        }

    img {
        width: 80px;
        height: 80px;
    }

    .content-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: -10px;
    }

        .content-container p {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            letter-spacing: 5px;
            font-weight: bolder;
            margin: 10px auto;
            color: #5375E2;
        }

    .content-container {
        margin-top: -35px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100%;
    }

        .flex-container > .header {
            width: 100%;
            margin: 10px auto;
            text-align: center;
        }

        .flex-container > .login {
            width: 500px;
            margin: 0px auto;
        }

    .rowcp {
        display: flex;
    }

    .row {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .col {
        width: 100%;
        padding: 10px;
        margin: 10px auto;
    }

    .overlay {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .button-container {
        display: flex;
        gap: 200px;
        text-align: center;
        margin-top: 20px;
    }

        .button-container button {
            width: 160px;
            height: 70px;
            border-radius: 15px;
            color: #5375e2;
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            font-weight: bold;
            border: none;
            letter-spacing: 2px;
        }

    .header-DB {
        background-size: cover;
        width: 100%;
        height: 300px; /* Adjust height as needed */
    }

 .header-text {
     margin: 4% auto;
     text-align: center;
 }

 .header-text h1 {
     font-size: 18px;
     font-family: "Roboto", sans-serif;
     margin: 100px auto;
     font-weight: bold;
 }

img {
    width: 80px;
    height: 80px;
}

}

@media only screen and (min-width: 901px) {
    .flex-container {
        display: flex;
        margin: 0 auto;
        width: 70%;
    }

        .flex-container > .header {
            width: 100%;
            margin: 10px auto;
            line-height: 25px;
        }

        .flex-container > .login {
            width: 500px;
            margin: 0px auto;
        }
}

@media only screen and (min-width: 1024px) {
    .flex-container {
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        align-content: center;
        width: 100%;
    }

        .flex-container > .header {
            width: 100%;
            margin: 10px auto;
        }

        .flex-container > .login {
            width: 500px;
            margin: 0px auto;
        }
}
